{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="col-md-12 col-lg-10 p-5 shadow rounded bg-dark text-light">
        <h2 class="mb-4 text-center">🔐 Login de Administrador</h2>

        {% if form.errors %}
            <div class="alert alert-danger">
                Usuário ou senha inválidos.
            </div>
        {% endif %}

        <form method="post" action="{% url 'admin:login' %}">
            {% csrf_token %}

            <div class="mb-4 text-start">
                <label class="form-label">Usuário</label>
                <input type="text" name="username" class="form-control form-control-lg" required autofocus>
            </div>

            <div class="mb-4 text-start">
                <label class="form-label">Senha</label>
                <input type="password" name="password" class="form-control form-control-lg" required>
            </div>

            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary btn-lg w-100">Entrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
