{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">🏠 Bem-vindo ao FacePonto</h1>

<div class="w-100 d-flex flex-column align-items-center">
    <a href="{% url 'video_reconhecimento' %}" class=" btn btn-primary py-3 fs-4 mb-4 w-50">
        🔘 Registrar Ponto
    </a>
    <a href="{% url 'criar_usuario' %}" class="btn btn-warning py-3 fs-4 mb-4 w-50">
        ➕ Cadastrar Usuário
    </a>
    <a href="#" class="btn btn-success py-3 fs-4 mb-4 w-50">
        📊 Ver Resumo
    </a>
</div>
{% endblock %}